pipeline/switch_country.json
{
	"name": "switch_country",
	"properties": {
		"activities": [
			{
				"name": "Lkp_cntry",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select distinct country_id from dbo.emp_detail",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "param_sql",
						"type": "DatasetReference",
						"parameters": {
							"tbl": "emp_detail"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lkp_cntry",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lkp_cntry').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "Var_demo",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().country_id",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "USA",
										"activities": [
											{
												"name": "USA",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": "select EMP_ID, NAME, SALARY, dept_name, country_id from dbo.emp_detail where country_id = 'US'",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "EMP_ID",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "emp_id",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "NAME",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Name",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "SALARY",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "Salary",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "dept_name",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "dept_name",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "country_id",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "country_id",
																	"type": "String",
																	"physicalType": "varchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "param_sql",
														"type": "DatasetReference",
														"parameters": {
															"tbl": "emp_detail"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "param_sql",
														"type": "DatasetReference",
														"parameters": {
															"tbl": "emp_US"
														}
													}
												]
											}
										]
									},
									{
										"value": "UK",
										"activities": [
											{
												"name": "UK",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": "select EMP_ID, NAME, SALARY, dept_name, country_id from dbo.emp_detail where country_id = 'UK'",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false,
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "EMP_ID",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "emp_id",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "NAME",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Name",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "SALARY",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "Salary",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "dept_name",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "dept_name",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "country_id",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "country_id",
																	"type": "String",
																	"physicalType": "varchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "param_sql",
														"type": "DatasetReference",
														"parameters": {
															"tbl": "emp_detail"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "param_sql",
														"type": "DatasetReference",
														"parameters": {
															"tbl": "emp_UK"
														}
													}
												]
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Other Country",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": "select EMP_ID, NAME, SALARY, dept_name, country_id from dbo.emp_detail where country_id not in ('US', 'UK')",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "EMP_ID",
															"type": "Int32",
															"physicalType": "int"
														},
														"sink": {
															"name": "emp_id",
															"type": "Int32",
															"physicalType": "int"
														}
													},
													{
														"source": {
															"name": "NAME",
															"type": "String",
															"physicalType": "varchar"
														},
														"sink": {
															"name": "Name",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"name": "SALARY",
															"type": "Int32",
															"physicalType": "int"
														},
														"sink": {
															"name": "Salary",
															"type": "Int32",
															"physicalType": "int"
														}
													},
													{
														"source": {
															"name": "dept_name",
															"type": "String",
															"physicalType": "varchar"
														},
														"sink": {
															"name": "dept_name",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"name": "country_id",
															"type": "String",
															"physicalType": "varchar"
														},
														"sink": {
															"name": "country_id",
															"type": "String",
															"physicalType": "varchar"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "param_sql",
												"type": "DatasetReference",
												"parameters": {
													"tbl": "emp_detail"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "param_sql",
												"type": "DatasetReference",
												"parameters": {
													"tbl": "emp_Others"
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "Var_demo",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_cntry",
								"value": {
									"value": "@item().country_id",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"var_cntry": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-03-14T11:45:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}