pipeline/switch_demo.json
{
	"name": "switch_demo",
	"properties": {
		"activities": [
			{
				"name": "Lkp1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select distinct sal_rng from dbo.emp_detail",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "param_sql",
						"type": "DatasetReference",
						"parameters": {
							"tbl": "emp_detail"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lkp1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lkp1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().sal_rng",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Higher Salary",
										"activities": [
											{
												"name": "High Salary",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": "select EMP_ID, NAME, SALARY, dept_name, country_id from dbo.emp_detail where salary >= 8000",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "EMP_ID",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "emp_id",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "NAME",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Name",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "SALARY",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "Salary",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "dept_name",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "dept_name",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "country_id",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "country_id",
																	"type": "String",
																	"physicalType": "varchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "param_sql",
														"type": "DatasetReference",
														"parameters": {
															"tbl": "emp_detail"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "param_sql",
														"type": "DatasetReference",
														"parameters": {
															"tbl": "emp_highSal"
														}
													}
												]
											}
										]
									},
									{
										"value": "Lower Salary",
										"activities": [
											{
												"name": "Lower salary",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": "select EMP_ID, NAME, SALARY, dept_name, country_id from dbo.emp_detail where salary < 5000",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "EMP_ID",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "emp_id",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "NAME",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "Name",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "SALARY",
																	"type": "Int32",
																	"physicalType": "int"
																},
																"sink": {
																	"name": "Salary",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "dept_name",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "dept_name",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "country_id",
																	"type": "String",
																	"physicalType": "varchar"
																},
																"sink": {
																	"name": "country_id",
																	"type": "String",
																	"physicalType": "varchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "param_sql",
														"type": "DatasetReference",
														"parameters": {
															"tbl": "emp_detail"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "param_sql",
														"type": "DatasetReference",
														"parameters": {
															"tbl": "emp_lowSal"
														}
													}
												]
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Avg Salary",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": "select EMP_ID, NAME, SALARY, dept_name, country_id from dbo.emp_detail where salary between 5000 and 7999",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "EMP_ID",
															"type": "Int32",
															"physicalType": "int"
														},
														"sink": {
															"name": "emp_id",
															"type": "Int32",
															"physicalType": "int"
														}
													},
													{
														"source": {
															"name": "NAME",
															"type": "String",
															"physicalType": "varchar"
														},
														"sink": {
															"name": "Name",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"name": "SALARY",
															"type": "Int32",
															"physicalType": "int"
														},
														"sink": {
															"name": "Salary",
															"type": "Int32",
															"physicalType": "int"
														}
													},
													{
														"source": {
															"name": "dept_name",
															"type": "String",
															"physicalType": "varchar"
														},
														"sink": {
															"name": "dept_name",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"name": "country_id",
															"type": "String",
															"physicalType": "varchar"
														},
														"sink": {
															"name": "country_id",
															"type": "String",
															"physicalType": "varchar"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "param_sql",
												"type": "DatasetReference",
												"parameters": {
													"tbl": "emp_detail"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "param_sql",
												"type": "DatasetReference",
												"parameters": {
													"tbl": "emp_avgSal"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-03-15T05:35:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}