pipeline/Var_demo.json
{
	"name": "Var_demo",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lkp_demo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lkp_demo').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Var1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "SetVar",
								"value": {
									"value": "@item().country_id",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Var1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "AppendVar",
								"value": {
									"value": "@item().country_id",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Final_append",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Append variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Final_append",
								"value": {
									"value": "@variables('AppendVar')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Lkp_demo",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select distinct country_id from dbo.emp_detail",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "param_sql",
						"type": "DatasetReference",
						"parameters": {
							"tbl": "emp_detail"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"SetVar": {
				"type": "String"
			},
			"AppendVar": {
				"type": "Array"
			},
			"Final_append": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-03-14T11:45:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}